Repository JacekZubielik/dev-k3s-lab-autopilot, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/bootstrap, area/project, area/apps/iot, area/apps/media, area/apps/trade, area/apps/user, area/infrastructure

fix(lint): cleanup
  apps/crds/crds-longhorn/kustomization.yaml
Labels: none

chore(cleanup): code
  apps/monitoring/kube-prometheus-stack/values.yaml
Labels: none

chore(includecrds): false
  apps/infra/longhorn/kustomization.yaml
Labels: none

chore(cleanup): code
  apps/monitoring/kube-prometheus-stack/values.yaml
Labels: none

chore(resources): add
  apps/crds/crds-longhorn/config.yaml
  apps/crds/crds-longhorn/kustomization.yaml
Labels: none

chore(repo): update
  apps/infra/minio/kustomization.yaml
Labels: none

chore(crds): update
  apps/crds/crds-longhorn/kustomization.yaml
  apps/crds/crds-longhorn/resources/crds.yaml
Labels: none

chore(helmcharts): repo update
  apps/infra/minio/kustomization.yaml
Labels: none

test(annotations): disable
  apps/crds/crds-longhorn/resources/crds.yaml
Labels: none

chore(sync-wave): 1
  apps/infra/authentik/resources/cert.sops.yaml
  apps/infra/authentik/resources/cert.staging.sops.yaml
  apps/infra/longhorn/resources/cert.sops.yaml
  apps/infra/longhorn/resources/cert.staging.sops.yaml
  apps/infra/traefik/resources/cert.staging.sops.yaml
  apps/monitoring/kube-prometheus-stack/resources/cert.staging.sops.yaml
Labels: none

chore(code): update
  apps/crds/application-set.yaml
  apps/crds/config-dir.yaml
  apps/infra/application-set.yaml
  apps/infra/config-dir.yaml
  apps/infra/longhorn/kustomization.yaml
  apps/monitoring/application-set.yaml
  apps/monitoring/config-dir.yaml
  bootstrap/init/application-set.yaml
  bootstrap/init/config-dir.yaml
Labels: area/bootstrap

chore(syncwave): update
  apps/crds/crds-cert-manager/config.yaml
  apps/crds/crds-csi-external-snapshotter/config.yaml
  apps/crds/crds-longhorn/config.yaml
  apps/crds/crds-prometheus-stack/config.yaml
  apps/crds/crds-traefik/config.yaml
Labels: none

chore(app): remove
  apps/crds/crds-longhorn/config.yaml
  apps/crds/crds-longhorn/kustomization.yaml
  apps/crds/crds-longhorn/resources/crds.yaml
Labels: none

chore(applicationset): update
  apps/crds/application-set.yaml
  apps/infra/application-set.yaml
  apps/monitoring/application-set.yaml
  bootstrap/init/application-set.yaml
Labels: area/bootstrap

chore(appset): update
  apps/infra/application-set.yaml
  apps/infra/config-dir.yaml
  apps/monitoring/config-dir.yaml
  bootstrap/init/application-set.yaml
Labels: area/bootstrap

chore(appsets): update
  apps/crds/application-set.yaml
  apps/infra/application-set.yaml
  apps/monitoring/application-set.yaml
Labels: none

chore(applicationset): update
  apps/crds/crds-cert-manager/config.yaml
  apps/crds/crds-cert-manager/kustomization.yaml
  apps/crds/crds-csi-external-snapshotter/config.yaml
  apps/crds/crds-csi-external-snapshotter/kustomization.yaml
  apps/crds/crds-prometheus-stack/config.yaml
  apps/crds/crds-prometheus-stack/kustomization.yaml
  apps/crds/crds-traefik/config.yaml
  apps/crds/crds-traefik/kustomization.yaml
  apps/infra/application-set.yaml
  apps/infra/cert-manager/resources/cert.route53.production.sops.yaml
  apps/infra/cert-manager/resources/issuer.route53.production.sops.yaml
  apps/infra/csi-external-snapshotter/kustomization.yaml
  apps/infra/longhorn/config.yaml
  apps/infra/longhorn/resources/storageclass.yaml
  apps/monitoring/config-dir.yaml
  apps/monitoring/kube-prometheus-stack/kustomization.yaml
Labels: none

chore(ignoredifferences): update
  bootstrap/init/application-set.yaml
Labels: area/bootstrap

chore(cleanup): code
  apps/monitoring/kube-prometheus-stack/kustomization.yaml
  bootstrap/init/config-dir.yaml
Labels: area/bootstrap

chore(cleanup): code
  .github/linters/.yamllint.yaml
  apps/crds/crds-prometheus-stack/kustomization.yaml
  apps/crds/crds-prometheus-stack/resources/crd-alertmanagerconfigs.yaml
  apps/crds/crds-prometheus-stack/resources/crd-alertmanagers.yaml
  apps/crds/crds-prometheus-stack/resources/crd-podmonitors.yaml
  apps/crds/crds-prometheus-stack/resources/crd-probes.yaml
  apps/crds/crds-prometheus-stack/resources/crd-prometheusagents.yaml
  apps/crds/crds-prometheus-stack/resources/crd-prometheuses.yaml
  apps/crds/crds-prometheus-stack/resources/crd-prometheusrules.yaml
  apps/crds/crds-prometheus-stack/resources/crd-scrapeconfigs.yaml
  apps/crds/crds-prometheus-stack/resources/crd-servicemonitors.yaml
  apps/crds/crds-prometheus-stack/resources/crd-thanosrulers.yaml
  apps/infra/authentik/kustomization.yaml
  apps/infra/authentik/resources/ingressroute.sops.yaml
  apps/infra/authentik/resources/pvc.yaml
  apps/infra/cert-manager/kustomization.yaml
  apps/infra/config-dir.yaml
  apps/infra/external-dns/kustomization.yaml
  apps/infra/longhorn/kustomization.yaml
  apps/infra/minio/kustomization.yaml
  apps/infra/traefik/kustomization.yaml
  apps/monitoring/kube-prometheus-stack/config.yaml
  apps/monitoring/kube-prometheus-stack/kustomization.yaml
  apps/monitoring/kube-prometheus-stack/resources/backing-image.yaml
  apps/monitoring/mktxp/config.yaml
  apps/monitoring/mktxp/kustomization.yaml
  apps/monitoring/uptime-kuma/config.yaml
  apps/monitoring/uptime-kuma/kustomization.yaml
  bootstrap/bootstrap.yaml
  bootstrap/cluster-resources/in-cluster/namespace.yaml
  bootstrap/init/application-set.yaml
  projects/dev.yaml
  projects/init.yaml
Labels: area/github, area/bootstrap

build(init): commit
  apps/monitoring/loki/config.yaml
  apps/monitoring/loki/ksops-generator.yaml
  apps/monitoring/loki/kustomization.yaml
  apps/monitoring/loki/resources/pv.yaml
  apps/monitoring/loki/resources/pvc.yaml
  apps/monitoring/loki/resources/volume.snapshot.yaml
  apps/monitoring/loki/resources/volume.yaml
  apps/monitoring/loki/secrets/.sops.yaml
  apps/monitoring/loki/secrets/secret.sops.yaml
  apps/monitoring/loki/values.yaml
Labels: none

fix(lint): cleanup code
  apps/monitoring/loki/resources/volume.yaml
  apps/monitoring/loki/values.yaml
Labels: none

chore(volumeclaimsenabled): true
  apps/monitoring/loki/values.yaml
Labels: none

build(app): remove
  apps/monitoring/loki/config.yaml
  apps/monitoring/loki/ksops-generator.yaml
  apps/monitoring/loki/kustomization.yaml
  apps/monitoring/loki/resources/pv.yaml
  apps/monitoring/loki/resources/pvc.yaml
  apps/monitoring/loki/resources/volume.snapshot.yaml
  apps/monitoring/loki/resources/volume.yaml
  apps/monitoring/loki/secrets/.sops.yaml
  apps/monitoring/loki/secrets/secret.sops.yaml
  apps/monitoring/loki/values.yaml
Labels: none

build(applicationset): iot init
  apps/iot/application-set.yaml
  apps/iot/config-dir.yaml
Labels: area/apps/iot

build(mosquitto): init
  apps/iot/mosquitto/config.yaml
  apps/iot/mosquitto/ksops-generator.yaml
  apps/iot/mosquitto/kustomization.yaml
  apps/iot/mosquitto/resources/.sops.yaml
  apps/iot/mosquitto/resources/backing-image.yaml
  apps/iot/mosquitto/resources/cm.cert.sops.yaml
  apps/iot/mosquitto/resources/cm.yaml
  apps/iot/mosquitto/resources/pv.yaml
  apps/iot/mosquitto/resources/pvc.yaml
  apps/iot/mosquitto/resources/volume.yaml
  apps/iot/mosquitto/secrets/.sops.yaml
  apps/iot/mosquitto/secrets/secret.sops.yaml
  apps/iot/mosquitto/values.yaml
Labels: area/apps/iot

build(init): commit
  apps/iot/home-assistant/config.yaml
  apps/iot/home-assistant/ksops-generator.yaml
  apps/iot/home-assistant/kustomization.yaml
  apps/iot/home-assistant/resources/.sops.yaml
  apps/iot/home-assistant/resources/backing-image.yaml
  apps/iot/home-assistant/resources/cert.sops.yaml
  apps/iot/home-assistant/resources/cert.staging.sops.yaml
  apps/iot/home-assistant/resources/external-dns.sops.yaml
  apps/iot/home-assistant/resources/ingressroute.sops.yaml
  apps/iot/home-assistant/resources/ingressroute.staging.sops.yaml
  apps/iot/home-assistant/resources/pv.yaml
  apps/iot/home-assistant/resources/pvc.yaml
  apps/iot/home-assistant/resources/service.yaml
  apps/iot/home-assistant/resources/volume.snapshot.yaml
  apps/iot/home-assistant/resources/volume.yaml
  apps/iot/home-assistant/values.yaml
Labels: area/apps/iot

chore(reencode): sops
  apps/iot/home-assistant/resources/cert.staging.sops.yaml
Labels: area/apps/iot

build(init): commit
  apps/dev/application-set.yaml
  apps/dev/config-dir.yaml
Labels: none

build(init): commit
  apps/iot/esphome/config.yaml
  apps/iot/esphome/ksops-generator.yaml
  apps/iot/esphome/kustomization.yaml
  apps/iot/esphome/resources/.sops.yaml
  apps/iot/esphome/resources/backing-image.yaml
  apps/iot/esphome/resources/cert.sops.yaml
  apps/iot/esphome/resources/cert.staging.sops.yaml
  apps/iot/esphome/resources/external-dns.sops.yaml
  apps/iot/esphome/resources/ingressroute.sops.yaml
  apps/iot/esphome/resources/ingressroute.staging.sops.yaml
  apps/iot/esphome/resources/pv.yaml
  apps/iot/esphome/resources/pvc.yaml
  apps/iot/esphome/resources/volume.snapshot.yaml
  apps/iot/esphome/resources/volume.yaml
  apps/iot/esphome/values.yaml
Labels: area/apps/iot

chore(reencode): sops
  apps/iot/esphome/resources/cert.staging.sops.yaml
Labels: area/apps/iot

.github/labeler.yaml:

---
area/github:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"
area/bootstrap:
- changed-files:
  - any-glob-to-any-file: "bootstrap/**/*"
area/project:
- changed-files:
  - any-glob-to-any-file: "project/*"
area/apps/iot:
- changed-files:
  - any-glob-to-any-file: "apps/iot/**/*"
area/apps/media:
- changed-files:
  - any-glob-to-any-file: "apps/media/**/*"
area/apps/trade:
- changed-files:
  - any-glob-to-any-file: "apps/trade/**/*"
area/apps/user:
- changed-files:
  - any-glob-to-any-file: "apps/user/**/*"
area/infrastructure:
- changed-files:
  - any-glob-to-any-file: "infrastructure/**/*"
feature:
- head-branch: ['^feature', 'feature']
release:
- base-branch: 'main'
